main { max-width: 576px; }

#browse-images { transition: opacity 0.5s; }
#browse-images.loading { opacity: 50%; }

.result { margin-top: 0.75rem; }
.result>img { transition: opacity 0.5s, filter 0.5s; }

.result-spoilered { position: relative; overflow: hidden; }
.result-spoilered>img { opacity: 0; visibility: hidden; }
@supports (filter: blur(15px)) {
  .result-spoilered>img {
    opacity: 0.5;
    visibility: visible;
    filter: blur(15px);
  }
}
.result-spoilered-overlay {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-spoilered-warning { text-align: center; }

.tag { background-color: gray; color: #f8f9fa; }
.tag-suggestive    { background-color: #a785ec; }
.tag-questionable  { background-color: #2a2f95; }
.tag-explicit      { background-color: #f73406; }
.tag-semi-grimdark { background-color: #2d7441; }
.tag-grimdark      { background-color: #157359; }
.tag-grotesque     { background-color: #810401; }
